body{
    margin:0
}

.navbar{
    background-color: black;
    height: 8vh;
}

.title{
    display: flex;
    color: white;
    padding-left: 12vh;
    padding-top: 9;
}

ul{
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 30%;
}